{% extends "base.html" %}
{% block title %}About Exprecn{% endblock%}
{% block content%}
<div class="about">
    <img src="{{ url_for('static', filename='images/DNA_image.jpg') }}" alt="DNA image">
    <div class="about_para">
        <p>Exprecn is an app that seeks to use the power of software engineering
        to simulate the process of amino acid production in the cell.</p>
        <p>
            Exprecn represents a pioneering effort to bridge the gap between 
            software engineering and the life sciences. By offering a simulated environment
            for amino acid production, it has the potential to revolutionize various industries 
            and deepen our understanding of fundamental biological processes. As it continues to 
            evolve and expand, Exprecn promises to be a catalyst for groundbreaking discoveries 
            and advancements in the fields of biotechnology and synthetic biology.
        </p>
        <p>The main goal of this app is to simplify the understanding of expression
            of genetic material in living cells. The </p>
    </div>
</div>

{%endblock%}