<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="{{ url_for('static', filename='images/dna.svg') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/header.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/body.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/footer.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/loginpage.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/signuppage.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/history.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/profile.css') }}">
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script src="{{ url_for('static', filename='scripts/home.js') }}"></script>
        <script src="{{ url_for('static', filename='scripts/history.js') }}"></script>
        <script src="{{ url_for('static', filename='scripts/profile.js') }}"></script>
        <script src="{{ url_for('static', filename='scripts/login-signup.js') }}"></script>
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
        <header class="header">
            <img id="favicon" src="{{ url_for('static', filename='images/dna.svg') }}">
            <h1><a href="{{ url_for('home') }}">Exprecn</a></h1>
            <nav class="nav">
                {% for opt in menu %}
                    {% if opt == 'Profile' %}
                        <a href="{{ url_for('profile') }}" id="profile">Profile</a>
                    {% elif opt == 'History' %}
                        <a href="{{ url_for('history') }}" id="history">History</a>
                    {% elif opt == 'About' %}
                        <a href="{{ url_for('about') }}" id="about">About</a>
                    {% elif opt == 'Log Out' %}
                        <a href="{{ url_for('logout') }}" id="logout">Log out</a>
                    {% elif opt == 'Log In' %}
                        <a href="{{ url_for('login') }}" id="login">Log In</a>
                    {% elif opt == 'Sign Up' %}
                        <a href="{{ url_for('signup') }}" id="signin">Sign Up</a>
                    {% endif %}
                {% endfor %}
            </nav>
            <ul class="nav_list">
                {% for opt in menu %}
                {% if opt == 'Profile' %}
                    <li><a href="{{ url_for('profile') }}" id="profile">Profile</a></li>
                {% elif opt == 'History' %}
                    <li><a href="{{ url_for('history') }}" id="history">History</a></li>
                {% elif opt == 'About' %}
                    <li><a href="{{ url_for('about') }}" id="about">About</a></li>
                {% elif opt == 'Log Out' %}
                    <li><a href="{{ url_for('logout') }}" id="logout">Log out</a></li>
                {% elif opt == 'Log In' %}
                    <li><a href="{{ url_for('login') }}" id="login">Log In</a></li>
                {% elif opt == 'Sign Up' %}
                    <li><a href="{{ url_for('signup') }}" id="signin">Sign Up</a></li>
                {% endif %}
            {% endfor %}
            </ul>
            <img id="lines" src="{{ url_for('static', filename='images/3lines.svg') }}">
        </header>
            <main>{% block content%}{% endblock %}</main>
    </body>
    <footer class="foot">
        <div>
            <p class="copyright">
                <img id="foot_icon" src="{{ url_for('static', filename='images/dna.svg') }}" alt="Icon">
                &copy;Exprecn 2023
                <a href="http://wesworks.com/">Wes Breazell</a>
            </p>
            <section class="credit">
                <!-- <p class="cFavicon">Icon credit: <a href="http://wesworks.com/">Wes Breazell</a></p> -->
                <p class="cGitHub"><a target="_blank" href="https://icons8.com/icon/62856/github">GitHub</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a></p>
                <p class="cTwitter"><a target="_blank" href="https://icons8.com/icon/phOKFKYpe00C/twitterx">TwitterX</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a></p>
                <p class="cLinkedln"><a target="_blank" href="https://icons8.com/icon/8808/linkedin">LinkedIn</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a></p>
            </section>
        </div>
    </footer>
</html>