{% extends "base.html" %}
{% block title %}Exprecn Home{% endblock%}
{% block content%}
<div class="home">
    <div class="top" style="background-image: url('static/images/DNA_image3.jpg')";>
        <p class="title">Exprecn</p>
        <p class="summary">
            Is an app that exhibits <strong>some of</strong>
            the concept of the central dogma of 
            molecular biology.
            <br>
            <br>
            The App should not be used for real applications
            as the simulation skips some steps of natural processes.
        </p>
        <div class="try_now_arrow">
            <p id="try_now">Try now</p>
            <img id="arrow_right" src="{{ url_for('static', filename='images/arrow1.svg') }}">
        </div>
    </div>
    <div class="home-container">
        <section class="query_area">
            <hr/>
            <form class="sequence" id="seq_id">
                <input type="text" placeholder="Genetic sequence (DNA or RNA)" name="sequence" id="seq_text">
                <input type="button" value="Express" id="submit">
            </form>
            <label for="drop" id="action_label">Select action: </label>
            <select name="drop" form="seq_id" class="dropdown">
                <option value="transcribe">Transcribe</option>
                <option value="translate">Translate</option>
            </select>
        </section>

        <section class="query_area results">
            <p class="res_label">Results</p>
            <ul class="api_result">
            </ul>
        </section>
    </div>
</div>

{%endblock%}