{% extends "base.html" %}
{% block title %}Exprecn Home{% endblock%}
{% block content%}
<div class="home">
    <div class="top" style="background-image: url('static/images/DNA_image3.jpg')";>
        <p class="title">Exprecn</p>
        <p class="summary">
            Is an app that exhibits <strong>some of</strong>
            the concept of the central dogma of 
            molecular biology.
            <br>
            <br>
            The App should not be used for real applications
            as the simulation skips some steps of natural processes.
        </p>
    </div>
    <section class="query_area">
        <hr/>
        <form action=# id="sequence">
            <input type="radio" name="option" id="transcribe" value="transcribe" checked="checked">
            <label for="transcribe" id="transcribe">Transcribe</label><br>
            <input type="radio" name="option" id="translate" value="translate">
            <label for="translate" id="translate">Translate</label><br>
            <input type="text" placeholder="Genetic sequence (DNA or RNA)" name="sequence">
            <input type="submit" value="Express">
        </form>
    </section>
    <section class="results">
    </section>
</div>

{%endblock%}