{% extends "base.html" %}
{% block title %}Log In{% endblock%}
{% block content%}
<div class="login_container">
    <h2>Login</h2>
    <form action="#" method="post">
        <input type="email" name="email" placeholder="exprecn@something.com" required><br><br>
        <div class="pass">
            <input id="inPass" type="password" name="password" placeholder="Password" required>
            <img id="show" src="{{ url_for('static', filename='images/show.svg') }}" alt="show">
            <img id="hide" src="{{ url_for('static', filename='images/hide.svg') }}" alt="hide">
        </div><br>
        <input type="submit" value="Login">
        <p id="signup">Don't have an account? <a href="{{ url_for('signup') }}">Create one</a></p>
    </form>
</div>
{% endblock%}