.navbar {
    position: absolute;
    width: 100%;
    transition: top 0.5s, background-color 0.5s; /* Include top and background-color in the transition */
    background-color: transparent; /* Initial background color */
    top: -5px;
}

.set_bg {
    position: sticky;
    height: 70px;
    top: 0;
    z-index: 8;
    background-color: rgba(88, 88, 88, 0.7); /*vSemi-transparent background color */
}

/* Add the backdrop filter to the ::after pseudo-element */
.set_bg::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    backdrop-filter: blur(10px);
    z-index: -1; /* Make sure it doesn't overlay the actual content */
}

.set_bg > .brand > h2 {
    color: #ffffff;
}

.links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    right: 5px;
    z-index: 10;
    gap: 30px;
    padding-right: 30px;
}

.links > li {
    text-decoration: none;
    list-style-type: none;
}

.links > li > .link {
    color: #ffffff;
    font-size: 1em;
    font-weight: lighter;
    justify-self: center;
}

.links > li > img {
    width: 35px;
    height: 35px;
}

.brand {
    position: absolute;
    padding-left: 30px;
    z-index: 10;
}

.logo {
    position: absolute;
    top: 10px;
    width: 50px;
    height: 50px;
}

.brand > h2 {
    position: relative;
    left: 55px;
    color: #585858c5;
    font-weight: normal;
}

.dropd {
    position: relative;
}

.dropdown {
    box-sizing: border-box;
    position: absolute;
    right: -35px;
    top: 43.5px;
    display: none;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
    background-color: rgba(88, 88, 88, 0.7);
    border: none;
    z-index: 5;
}

.dlink {
    color: #edededc5;
    font-size: 1em;
    font-weight: light;
    text-align: left;
    padding: 15px;
    width: 10dvw;
    background-color: rgba(88, 88, 88, 0.7);
    border-left: 3px solid rgba(88, 88, 88, 0.7);
    transition: background-color 0.5s, border-left 0.5s;
    cursor: pointer;
}

.dlink:hover {
    color: #000000;
    border-left: 3px solid #f9a825;
    background-color: #ffffff;
}