.loader {
    display: block;
    --height-of-loader: 6px;
    --loader-color: #f9a825;
    width: 130px;
    height: var(--height-of-loader);
    border-radius: 30px;
    background-color: rgba(85, 85, 85, 0.431);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .loader::before {
    content: "";
    position: absolute;
    background: var(--loader-color);
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    border-radius: 30px;
    animation: moving 1s ease-in-out infinite;
    ;
  }

  .loader > span {
    padding-top: 35px;
  }
  
  @keyframes moving {
    50% {
      width: 100%;
    }
  
    100% {
      width: 0;
      right: 0;
      left: unset;
    }
  }