body, ul, li, h1, h2, h3, nav, section, a {
    margin: 0;
    padding: 0;
    font-family: quicksand, 'Gill Sans MT';
    font-weight: lighter;
    overflow-x: hidden;
}

#signup {
    font-size: 11px;
    color: #3e3a2c;
}

.home {
    font-size: 20px;
}

.about img {
    width: 100%;
    height: 50%;
}


/*
*
*
*/
/* -----Query Area----- */
.home-container {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

.home-container::before {
    content: "";
    background-image: url("../images/DNA_image2.jpg");
    filter: blur(20px) brightness(0.5) contrast(0.8); 
    position: absolute;
    top: 65%;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

section.query_area {
    display: flex;
    position: relative;
    margin: 30px 0px 30px 0px;
    height: 300px;
    width: 45vw;
    justify-content: center;
    overflow-x: visible;
}

section.results {
    display: flex;
    position: relative;
    margin: 30px 20px;
    height: 300px;
    width: 45vw;
    border: 1px solid #afaa97e8;
    border-radius: 10px;
    justify-content: center;
}

section.results p {
    display: flex;
    margin: 5px;
    justify-content: center;
}

@media screen and (max-width: 1080px) {
    .home-container {
        width: 100%;
        flex-direction: column;
    }
    section.query_area {
        margin: 0px 5px;
    }
}

/*
*
*
*/
/* -----Input Area----- */
 .sequence input[type="text"]{
    position: absolute;
    top: 40%;
    left: 18%;
    width: 60%;
    padding: 10px;
    margin: 8px auto;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.sequence input[type="button"]{
    position: absolute;
    top: 55%;
    left: 48%;
    width: 15vw;
    padding: 10px;
    margin: 8px auto;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #A3E7D9;
    cursor: pointer;
    color: #ffffff;
}

.sequence input[type="button"]:hover {
    background-color: #FC7138;
}

.query_area .dropdown {
    position: absolute;
    top: 30%;
    left: 45%;
    width: 150px;
    padding: 5px;
    font-size: 14px;
    border: 2px solid #ccc;
    border-radius: 5px;
    cursor: pointer;     
}

.query_area .dropdown:focus,
.query_area .dropdown:hover {
    border: 2px solid #A3E7D9;
}

.query_area #action_label {
    position: absolute;
    color: #cccccce5;
    font-weight: bold;
    top: 30%;
    left: 20%;
}

hr {
    position: relative;
    top: 15%;
    width: 90%;
    border: none;
    height: 1px;
    background-color: #afaa97e8;
}

.results {
    display: flex;
    flex-direction: column;
    padding: 10px;
    overflow-x: auto !important;
    border: 2px solid #3e3a2c;
    font-weight: bold;
}

.results ul {
    position: absolute;
    top: 20%;
    left: 5%;
    list-style-type: square;
}

.results ul li{
    padding: 10px 10px;
    font-size: 16px;
    color: #ccc;
}

.res_label {
    position: absolute;
    margin: 0px;
    padding: 0px;
    width: 100%;
    left: 0px;
    top: 15px;
    align-content: flex-start;
    color: #cccccce5;
}

@media screen and (max-width: 1080px) {
    .sequence {
        padding: 0px;
    }
    .sequence input[type="text"] {
        width: 80vw;
    }
    hr {
        display: none;
    }
    .query_area #action_label {
        top: 20%;
    }
    .query_area .dropdown {
        top: 30%;
        left: 20%;    
    }
    .sequence input[type="button"]{
        top: 55%;
        left: 20%;
        font-size: 12px;
        text-justify: center;
        width: 20vw;
    }
    .home-container .results {
        width: 80vw;
        margin: 10px auto;
    }
}

/*
*
*
*/
/* -----Banner and summary area----- */
.top {
    position: relative;
    width: 100vw;
    height: 600px;
    margin: 0px;
    padding-top: 40px;
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    overflow: hidden;
}

p.title {
    position: absolute;
    top: 30%;
    padding: 25px 60px 80px 25px;
    font-size: 48px;
    color: #A3E7D9;
}

p.welcome {
    position: absolute;
    top: 15%;
    padding: 25px 60px 80px 25px;
    font-size: 48px;
    color: #A3E7D9;
}

p.welcome span {
    display: none;
}

p.summary {
    position: absolute;
    top: 50%;
    width: 35vw;
    padding: 10px 60px 80px 25px;
    font-size: 18px;
    color: #A3E7D9;
}

p.summary strong {
    font-weight: bold;
}

.top .try_now_arrow {
    display: flex;
    position: absolute;
    top: 75%;
    padding-left: 25px;
}

.top #arrow_right {
    width: 45px;
    height: 45px;
}

.top #try_now {
    margin: 0px;
    color: #A3E7D9;
    padding-top: 8px;
}

img#arrow_right:hover,
p#try_now:hover {
    color: #73e9d1;
    cursor: pointer;
}

@media screen and (max-width: 1080px) {
    .top {
        width: 100vw;
    }
    p.summary {
        width: 50vw;
    }
    .top #arrow_right {
        display: none;
    }
    .top #try_now {
        display: none;
    }
}


/*
* Profile page
*
*/
.profile {
    display: grid;
    height: 100vh;
    position: relative;
    background-color: #eee;
}

.profile .left {
    display: inherit;
    position: absolute;
    margin: 20px 20px 20px 40px;
    top: 10vh;
    height: 80vh;
    width: 30vw;
    border: 1px solid #ccc;
    border-radius: 5%;
    background-color: #eee;
    box-shadow: 1px 1px 25px #a5a2a2bb;
    justify-content: center;
    align-content: center;
}

.profile .left h3 {
    display: flex;
    color: #FC7138;
    justify-self: center;
}

.profile .left img {
    display: flex;
    width: 10vw;
    justify-self: center;
}

.profile .left #edit_user {
    display: flex;
    justify-self: center;
    justify-content: center;
    background-color: #73e9d1;
    border: 1px solid #abd6cdce;
    border-radius: 10px;
    height: 25px;
    color: #Fff;
    cursor: pointer;
    width: 10vw;
}

.profile .left #edit_user:hover {
    background-color: #fc6f38ad;
}

.profile .right {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 40vw;
    height: 80vh;
    top: 30vh;
    align-content: space-around;
}

.profile .right input{
    font-size: 20px;
    font-weight: light;
    color: #3e3a2c9f;
}

#firstname input[type="text"]{
    width: 100vw;
    padding: 20px;
    margin: 15px auto;
    background-color: #d4cbcb0a;
    border: 0px;
    border-bottom: 1px solid #73e9d1;
}
#lastname input[type="text"]{
    width: 100vw;
    padding: 20px;
    margin: 15px auto;
    background-color: #d4cbcb0a;
    border: 0px;
    border-bottom: 1px solid #73e9d1;
}

#email input[type="email"]{
    width: 100vw;
    padding: 20px;
    margin: 15px auto;
    background-color: #d4cbcb0a;
    border: 0px;
    border-bottom: 1px solid #73e9d1;
}

#email input[type="email"]:focus,
#firstname input[type="text"]:focus,
#lastname input[type="text"]:focus {
    outline: none;
    border: 0px;
    border-bottom: 2px solid #FC7138;
    color: #3e3a2c;
}

div.history {
    position: relative;
    top: 15vh;
    display: flex;
    justify-content: center;
    height: 80%;
    max-width: 90vw;
    margin-bottom: 50%;
    overflow-y: scroll !important;
    left: 10px;
}

div.history table {
    font-family: inherit;
    border-collapse: collapse;
    width: 60vw;
    color: #3e3a2c;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  #table_action {
    width: 10vw;
  }

  td button {
    width: 60px;
    background-color: #73e9d1;
    border: 1px solid #A3E7D9;
    border-radius: 10px;
    padding: 3px;
    margin: 3px;
    color: #3e3a2caf;
  }

  td button:hover {
    background-color: #FC7138;
  }

  .popup_result {
    display: none;
    border-radius: 20px;
    box-shadow: 1px 1px 40px #3e3a2ca4;
    background-color: #3e3a2c98;
    z-index: 1;
    position: fixed;
    width: 20%;
    height: 50%;
    top: 25vh;
    left: 35%;
    font-size: 14px;
    font-weight: bold;
    color: #A3E7D9;
    overflow-x: auto;
    align-content: center;
    margin: 0 10px;
    padding: 5px;
}
.popup_result p {
    display: flex;
    justify-content: center;
}