footer {
    display: flex;
    background-color: #3E3A2C;
    padding: 0px 30px;
    position: relative;
    bottom: 0px;
    width: 100%;
    height: 150px;
    justify-content: center;
    color: #A3E7D9;
}

footer img {
    width: 35px;
    height: 35px;
}
footer p {
    display: inline-block;
}

footer p a {
    text-decoration: underline;
    color: #A3E7D9;
}

.copyright {
    display: flex;
    position: absolute;
    left: 5%;
    flex-direction: column;
}

.copyright#foot_icon {
    
}
.copyright a {
    font-size: 14px;
}

.credit {
    display: flex;
    position: absolute;
    left: 25%;
    width: 30%;
    flex-direction: column;
    flex-flow: row;
    font-size: 14px;
}
.cFavicon, .cGitHub, .cTwitter, .cLinkedln{
    padding: 5px;
    margin: 5px;
}