header {
    background-color: #000000;
    padding: 10px 0;
    display: flex;
    position: fixed;
    font-family: quicksand, 'Gill Sans', 'Gill Sans MT', sans-serif;
    width: 100vw;
    height: 40px;
    border-bottom: 1px solid #fff;
    /* box-shadow: 1px 1px 25px #a5a2a2bb; */
    z-index: 1;
}

nav {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    align-content: center;
    right: 2%;
}

nav a {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    padding: 10px 20px;
}

nav a:hover {
    position: relative;
    background-color: #FC7138;
    height: 100%;
}

header h1 {
    font: normal 28px "quicksand";
    position: absolute;
    padding-left: 50px;
    justify-content: left;
    width: 20%;
    color: #FC7138;
}

header h1 a {
    text-decoration: none !important;
    color: #FC7138;
}
header img {
    position: absolute;
    padding-left: 5px;
    width: 45px;
    height: 45px;
}

header img#lines {
    position: absolute;
    top: 8%;
    left: 85%;
    width: 45px;
    height: 45px;
}

.nav_list{
    display: none;
    position: fixed;
    top: 8vh;
    width: 40vw;
    right: 60px;
    border: 1px solid #5e5e5e;
    list-style-type: none;
    margin: 0px auto;
    box-shadow: 1px 1px 25px #a5a2a2bb;
}

.nav_list li{
    display: flex;
    justify-content: center;
    background-color: #000000;
    padding: 10px;
    cursor: pointer;
}

.nav_list li a {
    text-decoration: none !important;
    color: #fff;
    font-weight: bold;
}

.nav_list li:hover {
    background-color: #FC7138;
}