.container {
    display: grid;
    width: 98.5svw;
    grid-template-columns: 15svw 36svw 43svw;
    column-gap: 1.5svw;
    margin: 80px 0 20px 0;
    height: 80svh;
}

.container > section {
    height: 40svh;
    border: 1px solid #e3e3e3;
    border-radius: 15px;
    background: #fafafa;
    box-shadow:  5px 5px 10px #ebebeb,
             -5px -5px 10px #f9f9f9;
}

.container > .side_pane {
    grid-row: 1 / span 2;
    height: 80svh;
    background-color: #ffffff;
    border: none;
    box-shadow: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.container > .config {
    height: 35svh;
}

.container .visualize {
    height: 35svh;
}

.side_pane .top {
    height: 25%;
    border-bottom: 1px solid #e3e3e3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.side_pane .top > div {
    width: 95%;
    height: 30px;
    padding: 5px 5px;
    background: #f2f2f2;
    font-size: 10px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-left: 2px solid #f9a825;
    display: flex;
    align-items: center;
    transition: border 0.2s ease-in;
    cursor: pointer;
}

.side_pane .top > div:hover {
    border-left-width: 4px;
}

.side_pane .top > div > img {
    width: 18px;
    position: absolute;
    right: 15px;
    transform: translateY(0);
    transition: transform 0.3s;
}

.side_pane .top > div:hover > img {
    transform: translateY(-1.5px);
}

.side_pane .bottom {
    height: 75%;
    border-top: 1px solid #e3e3e3;
}

.side_pane .bottom > h3 {
    font-size: 12px;
    font-weight: normal;
    padding: 10px;
}

.side_pane .bottom > ul {
    font-size: 12px;
    font-weight: normal;
    list-style: none;
}

/* .side_pane .bottom > ul > li {
    padding: 10px;
} */

.input_area {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    overflow-y: scroll;
    scrollbar-width: none;
}