@keyframes bounceV {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(20px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes bounceH {
    0% {
        transform: translateX(0);
        opacity: 0.3;
    }

    50% {
        transform: translateX(80px);
        opacity: 1;
    }

    100% {
        transform: translateX(0);
        opacity: 0.3;
    }
}



.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 98.8svw;  
}

.left{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
    color: #585858c5;
}

.left > h2 {
    font-size: 3.2em;
    line-height: 1.3;
    margin-left: 20px;
}

.left > h2 > span {
    background-color: #585858c5;
    color: #ffffff;
}

.left > p {
    font-size: 1em;
    margin-left: 20px;

}

.left > button {
    
}

.link {
    transition: color 0.5s;
    color: #ffffff;
}

.link:hover {
    color: #ffffff9a;
}

.right{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
}

.right > img {
    position: absolute;
}

.image_gene {
    width: 30%;
    height: 50%;
    animation: bounceV 3.5s infinite ease-in-out;
}

.image_molecule {
    position: absolute;
    height: 15%;
    right: 120px;
    top: 50svh;
    opacity: 0.3;
    animation: bounceH 7s infinite ease-in-out;
}

.block {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    height: 100svh;
}