.profile {
    display: flex;
    align-items: center;
    height: 100dvh;
    gap: 2dvw;
    margin: auto 2dvw;
}

.left,
.right {
    display: flex;
    position: relative;
    height: 80dvh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #d9d9d9c2;
    border-radius: 20px;
    background: #fafafa;
    box-shadow:  7px 7px 22px #ebebeb,
                 -7px -7px 22px #ffffff;
}

.left {
    position: relative;
    width: 25dvw;
    gap: 10px;
    align-items: flex-start;
}

.right {
    width: 68dvw;
    flex-direction: column;
    gap: 10px;
}

.left .image {
    width: 100px;
    align-self: center;
}

.left .profileImage {
    width: 80%;
    height: 250px;
    border-radius: 5%;
    margin: 5px 30px;
}

.left > p {
    font-size: 0.8rem;
    font-weight: 400;
    margin: 5px 30px;
}

.left .names {
    font-size: 1.2rem;
}

.left .email {
    font-weight: 300;
}

.left .bio {
    font-weight: 300;
}

.left .updateImageButton {
    margin: 5px 30px;
}
